# Ambientes virtuais e dependências
ambiente_dados/
.ambiente_dados/
venv/
env/
.venv/
.env
.vscode

# Arquivos Diversos
*.csv
*.json
*.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter / Notebooks
.ipynb_checkpoints/
# Descomente a linha abaixo se NÃO quiser versionar notebooks:
# *.ipynb